<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Index</title>
		
		<!-- STYLESHEETS -->
		
		<!-- /STYLESHEETS -->
		
		<style>
		
		</style>
	<body>
		<h1>Article</h1>
		<article>
			<h2>Article n°{{ article.id }}</h2>
			<p>
				{{article.content}}
			<P>
		</article>
		
		<!-- SCRIPTS -->
		
		<!-- /SCRIPTS -->
		
		<script type="text/javascript">

		
		</script>
	</body>
</html>